.input {
	padding: 8px 10px;
	width: 100%;
	font-size: 18px;
	outline: none;

	&.primary {
		border: 1px solid #fff;

		&::placeholder {
			color: #fff;
		}
	}

	&.secondary {
		border: 1px solid #2a4588;

		&::placeholder {
			color: #c7c7c7;
		}
	}
}
