#gallery {
	width: 100%;
	text-align: center;

	padding: 50px 0;

	h1 {
		font-size: clamp(32px, 4vw, 56px);
		color: #2a4588;
		font-weight: 700;
		margin-bottom: 10px;
	}
	p {
		font-size: clamp(14px, 2vw, 16px);
		color: #3a6ea5;
		margin-bottom: 25px;
	}
	.nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto 20px;

		button {
			color: #2a4588;
			text-decoration: underline;
			font-size: clamp(14px, 2vw, 16px);
			font-weight: 500;

			width: 33.3%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;

			padding: clamp(8px, 2vw, 20px) clamp(15px, 3vw, 30px);
			transition: 0.3s ease-in-out;

			&:hover,
			&.active {
				color: #ff6f00;
				.logo {
					filter: sepia(100%) saturate(400%) hue-rotate(-30deg) contrast(100%);
					mix-blend-mode: multiply;					
				}
			}
		}
	}

	// ! Desctop
	.images {
		display: flex;
		flex-direction: column;
		align-items: center;

		.head {
			display: flex;
			height: clamp(300px, 60vh, 600px);
			gap: clamp(20px, 4vw, 40px);
			width: 100%;

			.img {
				width: 50%;
				height: 100%;
				position: relative;

				border: 1px solid gray;
			}

			.twoImg {
				display: flex;
				flex-direction: column;
				gap: clamp(20px, 4vw, 40px);
				width: 50%;

				.img {
					width: 100%;
					height: calc(50% - clamp(10px, 2vw, 20px));
					position: relative;

					border: 1px solid gray;
				}
			}
		}

		.foot {
			display: flex;
			align-items: center;
			padding-top: clamp(20px, 4vw, 40px);
			width: 100%;
			gap: clamp(20px, 4vw, 40px);

			.forImg {
				// display: flex;
				// flex-wrap: wrap;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				width: 50%;
				grid-gap: clamp(20px, 4vw, 40px);

				.img4 {
					// width: clamp(169px, calc(50% - 20px), 280px);
					width: 100%;
					height: clamp(169px, 30vh, 280px);
					position: relative;

					border: 1px solid gray;
				}
			}

			.img {
				width: 50%;
				height: clamp(300px, 65vh, 600px);
				position: relative;

				border: 1px solid gray;
			}
		}
	}

	// ! Mobile
	.mobileImages {
		display: flex;
		gap: 15px;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}

		.mobileHead {
			flex-shrink: 0;
			display: flex;
			flex-wrap: wrap;
			width: 729px;
			height: 357px;
			gap: 15px;

			.threeImgs {
				display: flex;
				flex-wrap: wrap;
				height: 357px;
				width: 357px;
				gap: 15px;

				.img {
					width: 357px;
					// height: 357px;
					height: 169px;
					position: relative;
					border: 1px solid gray;

					&:nth-child(1),
					&:nth-child(2) {
						width: 169px;
						height: 169px;
					}
				}
			}

			.img {
				width: 357px;
				height: 357px;
				position: relative;
				border: 1px solid gray;
			}

			.footThreeImgs {
				display: flex;
				flex-direction: row;
				width: max-content;
				gap: 15px;
				// padding-top: 15px;

				.img4 {
					width: 169px;
					height: 169px;
					position: relative;
					border: 1px solid gray;

					&:nth-child(2) {
						width: 357px;
					}
				}
			}
		}

		.mobileFoot {
			display: flex;
			flex-direction: column;
			width: 357px;
			gap: 15px;

			.img4 {
				width: 357px;
				height: 169px;
				position: relative;
				border: 1px solid gray;
			}

			.img {
				width: 357px;
				height: 357px;
				position: relative;
				border: 1px solid gray;
			}
		}
	}

	@media (max-width: 768px) {
		.nav {
			button {
				text-decoration: none;
			}
		}
	}

	@media (max-width: 480px) {
		.nav {
			// gap: 10px;
			// flex-wrap: wrap;
			// justify-content: space-between;

			button {
				padding: 8px 15px;
				font-size: 14px;
			}
		}
	}
}
